.backg-nav{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/foto-1.png");
        background-size: cover;
        background-position: center center;
        height: 40vh;
}

.img-gps{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/peru.png");
        background-size: cover;
        background-position: center center;
        height: 40vh;
}

.img-hero{
    max-width: 80%;
}

